<div class="pagse">
        {% if page.has_previous %}
        {% endif %}
        {% if page.has_next %}
        {% endif %}
</div>

<div class="page2">
            {% if page2.has_previous %}
            {% endif %}
            {% if page2.has_next %}
            {% endif %}
    </div>
    <div class="pagse">
        {% if page.has_previous %}
        {% endif %}
        {% if page.has_next %}
        {% endif %}
</div>

<div class="page2">
            {% if page3.has_previous %}
            {% endif %}
            {% if page3.has_next %}
            {% endif %}
    </div>